<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profiles</servlet-name>
        <servlet-class>controller.Profiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFood</servlet-name>
        <servlet-class>controller.ListFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rewards</servlet-name>
        <servlet-class>controller.rewards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShownameIndex</servlet-name>
        <servlet-class>controller.ShownameIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profiles</servlet-name>
        <url-pattern>/Profiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFood</servlet-name>
        <url-pattern>/ListFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rewards</servlet-name>
        <url-pattern>/rewards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShownameIndex</servlet-name>
        <url-pattern>/ShownameIndex</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
